.SignupForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SignupForm button {
  text-align: center;
  border: 1px black solid;
  padding: 0.5em 1em;
  border-radius: 15em;
}
.signup {
  margin-bottom: 0.5em;
  font-size: 2em;
  color: blue;
}
